
.grid{style: 'overflow: hidden; padding-top:24px; width: 1080px;'}
  .channel-block
    .player-block
      .player
    .info
      .title= @channel.name
      .description= @channel.description
      .user-block
        .avatar
          = image_tag('http://tp2.sinaimg.cn/1649937881/180/40025567279/1')
        .content
          .username= link_to(@channel.user.username,profile_path(@channel.user.id))
          .user-description= @channel.user.description
  .chat-block
    .status.center
    .message
    - if(user_signed_in?)
      .send
        %input#user_id{type: 'hidden', value: current_user.id}
        %input#username{type: 'hidden', value: current_user.username}
        %input#msg{type: 'text', placeholder: '按回车键发送消息'}
    - else
      .login.center
        聊天请先
        = link_to('登录',new_user_session_path)