.profile-block
  .container
    .user-info
      .avatar
        = image_tag('avatar.png')
      .username= @user.username
      .description= @user.description
      - if user_signed_in? and current_user == @user
        .edit{style: 'text-align: center;'}
          = link_to('编辑资料',edit_user_registration_path)
    / # .description= @user.description
    .live
      %h3.center 直播
      - if @user.channel.channel_on == false
        %p.center{style: 'color: red; font-size: .9em;'} 目前不在直播
      - else
        %div.center
          %span{style: 'font-size: 1em;'} 正在直播：
          = link_to(@user.channel.name, channel_path(@user.channel.id), method: 'GET') 
        %p.center{style: 'font-size: .8em;'}= @user.channel.description
      - if current_user == @user
        = link_to('直播通道',edit_channel_path(current_user.channel.id), class: :button)
