.profile-block
  .container
    .user-info
      .avatar
        = image_tag('http://tp2.sinaimg.cn/1649937881/180/40025567279/1')
      .username= @user.username
      - if user_signed_in?
        .edit
          = link_to('编辑资料',edit_user_registration_path)
          = link_to('开始直播',edit_channel_path(current_user.channel.id))
    / # .description= @user.description
    %h4 直播公告
    .announce
      每天 12 点左右直播英雄联盟排位
    .live
      - if @user.channel.channel_on == false
        %p.center 目前不在直播
      - else
        %h4 正在直播
        %p= @user.channel.name
        %p= @user.channel.description
      %p.center 非直播玩家