/ - @games.each do |game|
/   %h1= game.name

.events

  .brand
    %h4.center SISE GAME TV
    %p.center Comming soon...


.lives-block
  %h2.title Lives
  .item
    .img
    .activity
      = link_to('一区钻石殴打黄金','#')
    .user
      = link_to('randy','#')
      %span 正在直播


  .item
    .img
  .item
    .img
  .item
    .img



.games-block
  
  %h2.title Games

  - @games.each do |game|
    = link_to('#',class: 'block') do
      .game
        .pic
          = image_tag(game.pic)
        .name= game.name 