/ - @games.each do |game|
/   %h1= game.name

.events

  .brand
    %h4.center SISE GAME TV
    %p.center Comming soon...


.lives-block
  %h2.title Lives
  - @channels.each do |channel|
    .item
      .img
      .activity
        = link_to(channel.name,'#')
      .user
        = link_to(channel.user.username,'#')
        %span 正在直播


.games-block
  
  %h2.title Games

  - @games.each do |game|
    = link_to('#',class: 'block') do
      .game
        .pic
          = image_tag(game.pic)
        .name= game.name 