/ - @games.each do |game|
/   %h1= game.name

.events
  - if @show_channel
    .brand{style: 'padding-top: 28px;'}
      .now
        = swf_tag "StrobeMediaPlayback.swf", flashvars: {src: @show_channel.url, autoHideControlBar: true, streamType: "live", autoPlay: true,verbose: true}, parameters: {allowfullscreen: true}
      .title.center{style: 'margin-top: 28px; color: #fff;'}
        = link_to("正在直播：#{@show_channel.show_name}",channel_path(@show_channel.id), method: 'GET', style: 'color: #fff; font-weight: bold; background-color: #000; padding: 12px; border-radius: 4px;')
  - else
    .brand{style: 'padding-top: 128px;'}
      %h1.center 
        SISE Game TV
        %span{style: 'font-size: .4em'} beta
      %h4.center 
        %span{style: 'font-size: 1.8em;'} #{@user_count} 
        位华软玩家正在或曾经在这里分享欢乐
    


.lives-block
  .title 
    %h1 Live
    %span 正在直播
  - if @channels.count == 0
    %p{style: 'font-size: .9em'} 当前无直播
  - else
    - @channels.each do |channel|
      .item
        = link_to(channel_path(channel.id), method: 'GET') do
          .img{style: "background-image: url(assets/channel_#{channel.id}.png); background-size: cover"}
        / .activity
        /   = link_to(channel.name, channel_path(channel.id), method: 'GET')
        .user
          = link_to(channel.user.username,profile_path(channel.user.id))
          %span 直播
          .online-count
            %span{style: 'color: #000; font-weight: bold;'}= channel.online_count
            人正在收看
        .channel-description{style: 'margin-top: 8px; font-size: .8em;'}= channel.description
