!!! 5
%html
  %head
    %title SISE Game TV
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    .header
      .grid
        .logo
          = link_to('SISE Game TV',root_path, method: 'GET')
        %ul.nav
          - if user_signed_in?
            %li
              = link_to(current_user.username, profile_path(current_user.id))
            %li
              = link_to('直播通道', edit_channel_path(current_user.channel.id))
            %li 
              = link_to('退出', destroy_user_session_path, method: 'DELETE')
          - else
            %li
              = link_to('注册', new_user_registration_path)
            %li
              = link_to('登录', new_user_session_path)
              
    .container
      = yield
    .footer
      %p.center SISE Game TV
      %p.center &copy Randy 2015