!!! 5
%html
  %head
    %title OpenTwitch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = javascript_include_tag 'https://cdn.socket.io/socket.io-1.2.0.js'
    = csrf_meta_tags

    :javascript
      var socket = io(':1024');


      var message = function(){

        $('.status').text('正在连接实时聊天');

        socket.on('connect',function(){
          $('.status').text('实时聊天连接成功').css({color: 'green'});
          socket.emit('join channel',{
            user_id: $('#user_id').val(),
            username: $('#username').val(),
            channel: location.href.split('/').slice(-1).pop()
          })
        })

        socket.on('connect_error',function(){
          $('.status').text('实时聊天连接失败').css({color: 'red'});
        })

        socket.on('join channel',function(data){
          var link = $('<a />').attr('href','/users/' + data.user_id).text(data.username).attr('target','_blank');
          var username = $('<div class="username" />').append(link);
          var content = $('<div class="content" />').text(data.message);
          var item = $('<div class="item" />').append(username).append(content);
          $('.message').append(item);
          $('.message').scrollTop($('.message').prop('scrollHeight'));
        })

        socket.on('chat',function(data){
            var link = $('<a />').attr('href','/users/' + data.user_id).text(data.username).attr('target','_blank');
            var username = $('<div class="username" />').append(link);
            var content = $('<div class="content" />').text(data.message);
            var item = $('<div class="item" />').append(username).append(content);
            $('.message').append(item);
            $('.message').scrollTop($('.message').prop('scrollHeight'));
        })

        $('#msg').keypress(function(e){
          if(e.which == 13){
            if($(this).val() != ''){
              socket.emit('chat',{
                user_id: $('#user_id').val(),
                username: $('#username').val(),
                channel: location.href.split('/').slice(-1).pop(),
                message: $('#msg').val()
              })
              var link = $('<a />').attr('href','/users/' + $('#user_id').val()).text($('#username').val());
              var username = $('<div class="username" />').append(link);
              var content = $('<div class="content" />').text($('#msg').val());
              var item = $('<div class="item" />').append(username).append(content);
              $('.message').append(item);
              $('#msg').val('');
              $('.message').scrollTop($('.message').prop('scrollHeight'));
            }
          }
        })
      }

      $(document).on('ready',message);


  %body

    .header
      .grid
        .logo
          = link_to('SISE Game TV',root_path)
        %ul.nav
          - if user_signed_in?
            %li
              = link_to(current_user.username, profile_path(current_user.id))
            %li
              = link_to('直播通道', edit_channel_path(current_user.channel.id))
            %li 
              = link_to('退出', destroy_user_session_path, method: 'DELETE')
          - else
            %li
              = link_to('注册', new_user_registration_path)
            %li
              = link_to('登录', new_user_session_path)
              
    .container{style: 'background-color: #f1f1f1'}
      = yield
    .footer
      %p.center SISE Game TV
      %p.center &copy Randy 2015